.about-parent{
  /* border: 2px solid red; */
  width: 100%;
}

.about-heading{
  padding-top: 6.5rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
}
.about-heading > span{
  color: royalblue;
}
.about-container{
  display: flex;
  justify-content:center;
  align-items: center;
  gap: 3rem;
  padding: 1rem 2rem;
}
.about-img-container{
  width: 40%;
  display: flex;
  justify-content: center;
}
.about-text-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about-text-heading{
  text-align: center;
  font-weight: 600;
  padding-bottom: 0.5rem;
  font-size: 2rem;
}
.about-text-container{
  background-color: rgb(250, 250, 250);
  padding: 1.5rem;
  width: 40%;
}
.about-text{
  text-align: justify;
  padding-top: 0.5rem;
  font-size: 1.4rem;
}

.handles{
  /* border: 2px solid red; */
  width: 100%;
  display: flex;
  justify-content: center;
}

.socials{
  padding: 0.3rem 0.2rem;
  background-color: #023460;
  border-radius: 10rem;
  /* width: 60%; */
  margin: 2vh 0;
}
.team-icon{
  margin: 0;
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0;
  li{
    display: flex;
    margin: 1vh 1vw;
  }
}

@media screen and (max-width: 1400px) {
  .about-text{
    font-size: 1.2rem;
  }
  .about-img-container{
    width: 50%;
  }
  .about-text-container{
    width: 60%;
  }
}
@media screen and (max-width: 1000px) {
  .about-container{
    flex-direction: column;
  }
  .about-img-container{
    width: 60%;
  }
  .about-text-container{
    width: 100%;
  }
}
@media screen and (max-width: 666px) {
  .about-heading{
    display: flex;
    flex-direction: column;
    align-self: center;
    font-size: 1.7rem;
  }
  .about-text{
    font-size: 1rem;
  }
  .about-img-container{
    width: 80%;
  }
  .about-text-container{
    width: 100%;
  }
}
@media screen and (max-width: 400px) {
  .about-heading{
    font-size: 1.5rem;
  }
  .about-text{
    font-size: 0.9rem;
  }
  .about-img-container{
    width: 110%;
  }
  .about-text-container{
    width: 115%;
  }
  .about-text-heading{
    font-size: 1.5rem;
    padding-bottom: 0;
  }
}