.services {
    /* border: 2px solid black; */
    padding-top: 80px;
    padding-bottom: 20rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
        font-size: 2.5em;
        margin-bottom: 20px;
        color: #023460;
        padding-top: 2.8rem;
        padding-bottom: 5rem;
        margin: auto;
        transition: font-size 0.5s linear;
        font-weight: 800;

        font-size: 8vmin;
        text-transform: uppercase;
        font-weight: 800;
        line-height: 9vmin;
    }

}

.service-cards {
    /* border: 2px solid black; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    width: 100%;
    margin: auto;
    margin: 0;
    padding: 0;
}



.service-card {
    background-color: white;
    width: 300px;
    margin: 15px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.137);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: left;

    min-height: 500px;
    position: relative;

    .btn {
        background-color: #023460;
        color: white;
        padding: 12px 25px;
        text-decoration: none;
        border-radius: 25px;
        margin-top: 20px;
        display: inline-block;
        font-weight: bold;
        transition: background-color 0.3s, color 0.3s;

        position: absolute;
        left: 2.65rem;
        bottom: 2.5rem;
    }

    img {
        width: 100%;
        min-height: 150px;
        border-radius: 10px;
        transition: transform 0.3s;
    }

    h2 {
        color: #023460;
        margin: 15px 0;
        font-size: 25px;
        font-weight: 600;
    }
}


.service-card .service-card p {
    color: #666;
}

.service-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    scale: 1.02;
    box-shadow: 0 0 10px grey;
    cursor: pointer;
}

.service-card:hover img {
    transform: scale(1.05);
}




.btn:hover {
    background-color: #e6b800;
    color: white;
}


@media (max-width: 1200px) {
    .service-cards {
        width: 100%;
    }
}

@media (max-width: 992px) {
    .bookingd h1 {
        font-size: 7vmin;
    }

    .service-cards {
        justify-content: center;
    }

    .service-card {
        border: 2px solid rgba(0, 0, 0, 0.137);
        width: 250px;

        .btn {
            padding: 15px;
            left: 2rem;
            bottom: 1.5rem;
        }
    }
}

@media (max-width: 780px) {
    .bookingd h1 {
        font-size: 5.5vmin;
    }

    .service-cards {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .bookingd h1 {
        padding-top: 6rem;
        font-size: 26px;
    }

    .service-cards {
        overflow: hidden;
        /* flex-direction: column; */
        align-items: center;

        h2 {
            font-size: 1.2rem;
        }
    }
}

@media (max-width: 350px) {

    .bookingd h1 {
        padding-top: 6rem;
        font-size: 26px;
        white-space: pre-wrap;
        /* word-break: break-word; */
    }

    .service-cards {
        flex-direction: column;
        align-items: center;
    }

    .service-card {
        width: 200px;
    }

    .service-card {
        border: 2px solid rgba(0, 0, 0, 0.137);
        width: 250px;

        .btn {
            padding: 15px;
            left: 2rem;
            bottom: 1.5rem;
        }
    }
}

@media (max-width: 280px) {
    .bookingd h1 {
        padding-top: 6rem;
        font-size: 20px;
    }

    .service-card {
        width: 150px;
        margin: 1rem;
    }

    .service-card {
        border: 2px solid rgba(0, 0, 0, 0.137);
        width: 200px;
        margin: 1rem;

        .btn {
            padding: 10px;
            left: 1rem;
            bottom: 1.5rem;
        }

        h2 {
            font-size: 1rem;
            /* border: 2px outset black; */
        }
    }
}