.parent{
  background-image: url("https://img.freepik.com/free-vector/modern-abstract-white-minimal-background_84443-8340.jpg?t=st=1722252547~exp=1722256147~hmac=24ab5e8b2437f0d2e5f9e5e126d4a6db64df81a421d48dad1906fb4e1688a7f2&w=996");
  /* border: 1px solid red; */
  padding-top: 0.1rem;
  /* padding-bottom: 8rem; */
  margin: auto;
  height: 50rem;
  background-size: cover;
  /* border: 1px solid red; */
  /* display: flex;
  flex-direction: column; */
}
.parent-sub{
  margin: auto;
  max-width: 80%;
}
.ed-heading{
    margin-top: 2.5em;
    margin-bottom: 3rem;
    text-align: center;
    /* font-size: 30px; */
    font-weight: bold;
    /* margin: 1em 0; */
}
.ed-heading > span{
  color: royalblue;
}
.parent-cont{
    display: flex;
    flex-wrap: wrap;
    /* gap: 1rem; */
    justify-content:center;
    margin-top: 6em;
}
.icons{
  padding: 2rem 3rem;
  color: white;
  border: 0.3rem solid #002545;
  background-color: #023460;
  width: 100%;
  margin: auto;
  height: 100%;
  transition: 0.3s ease-in-out;
}


.flip-card {
  background-color: transparent;
  width: 200px;
  height: 254px;
  perspective: 3000px;
  font-family: sans-serif;
}

.title {
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  margin: 0;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.4s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  transition: 0.6s ease-in-out;
}

.flip-card-front, .flip-card-back {
  box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.flip-card-back {
  border: 0.3rem solid #002545;
  background-color: #023460;
  color: white;
  transform: rotateY(180deg);
}


@media only screen and (max-width: 550px) {
  /* For mobiles: */
  .ed-heading{
    padding-top: 2rem;
    font-size: 1.6rem;
  }
  .parent-cont{
    margin-top: 0;
    margin: auto;
    width: 100%;
    /* border: 1px solid red; */
    padding: 0;
    /* margin-top: 0; */
  }
  .flip-card{
    /* border: 2px solid red;  */
    width: 8.1rem;
    height: 10rem; 
  }
  .icons{
    padding: 2rem;
  }
}