.footer {
    background-color: #023460;
    padding: 20px 0;
    border-top: 1px solid #f6f4f4;
  }
  
  .footer-text {
    margin: 0;
    font-size: 14px;
  }
  
  .footer-social {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  
  .footer-social li {
    margin: 0 10px;
  }
  
  .footer-social a {
    color: #f5f1f1;
    font-size: 16px;
    & > *{
      transition: scale .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
  }
  
  .footer-social a:hover {
    & > *{
      scale: 1.5;
      color: #007bff;
    }
  }
  