.pod-head {
    padding-top: 5rem;
    font-size: 2.3em;
    font-weight: 600;
    margin-bottom: 1em;
}
.podcasts-container {
    background-image: url('https://img.freepik.com/free-vector/modern-abstract-white-minimal-background_84443-8340.jpg?t=st=1722252547~exp=1722256147~hmac=24ab5e8b2437f0d2e5f9e5e126d4a6db64df81a421d48dad1906fb4e1688a7f2&w=996');
    padding: 20px;
    text-align: center;
}
.podcasts-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    width: 100%;
    padding: 1em 2em;
}

.podcasts-card {
    min-width: 5em;
    width: 30em;
    background-color: rgb(233, 233, 233);
    z-index: 1;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: left;
    margin-bottom: 2em;
    display: flex;
}
.pod-img-cont{
    background-color: white;
    margin: auto;
    width: 30%;
}

.podcasts-image {
    width: 100%;
}
.podcast-text-sec{
    padding: 0 1em;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5em 1em;
    /* background-color: whitesmoke; */
}

.podcasts-card:hover {
    transition:  0.3s ease-in-out;
    box-shadow:0.2rem 0.2rem 0.3rem rgba(197, 197, 197, 0.5); 
}
.bottom-sec{
    display: flex;
    margin-top: 1em;
    justify-content: space-between;
}
.pod-title{
    font-size: 1.3em;
    color: black;
    margin-bottom: 0.5em;
}
.owner {
    font-size: 0.9em;
    color: royalblue;
    margin-top: 10px;
}
.listen {
    border: 0.1em solid black;
    font-size: 1em;
    background-color: red;
    color: white;
    border-radius: 10%;
    padding: 0.5em 1em;
    text-decoration: none;
    transition: 0.3s ease-in-out;
    box-shadow: 3px 3px black;
}
.listen:hover {
    background-color: rgb(219, 5, 5);
    color: white;
    box-shadow: 0 0;
    /* border: 0.1em solid black; */
    transition: 0.3s ease-in-out;
}