.parent-container{
  padding: 5rem 15rem;
  background-image: url('https://img.freepik.com/free-vector/modern-abstract-white-minimal-background_84443-8340.jpg?t=st=1722252547~exp=1722256147~hmac=24ab5e8b2437f0d2e5f9e5e126d4a6db64df81a421d48dad1906fb4e1688a7f2&w=996');
  /* max-width: 70%;
  min-width: 69%; */
  margin: auto;
}
.heading{
  text-align: center;
  margin: 20px 0;
  font-weight: 600;
}
.heading > span{
  color: royalblue;
}
.video-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}
.video-content{
  /* background-color: rgb(193, 192, 192); */
  padding: 20px;
  margin-bottom: 10px;
}
.video-content > h2{
  padding-top: 1rem;
  font-size: 1.8rem;
}
.video-content > p{
  color: rgb(104, 104, 104);
}
.iframe-video{
    height: 500px;
    border-radius: 10px;
}
.thumbnail{
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 10px;
}
